<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1> Welcome to Html Page Analyser </h1>
<form action="/v1/process" method="post" id="url_form">
Enter URL:
  <input type="text" id="url_id" name="url" value=""></input>
  <br/><br/>
  <input type="submit" id="submit_id" value="Submit"></input>
 </form>
 <div id="div_error"></div>
 <br/>
 <div id="div_summary_table"></div>
 <br/><br/>
 <div id="div_reachability_table"></div>
 <br/><br/>
 <div id="div_headings_table"></div>
 <script>
 
 
$("#url_form").submit(function(e) {

  e.preventDefault();
  var button = $("#submit_id");
  button.prop('disabled', true);
  
  $("#div_summary_table").empty();
  $("#div_reachability_table").empty();
  $("#div_headings_table").empty();
  $("#div_error").empty();
  
  var urlVal = $("#url_id").val(); 
  
  $.ajax({
    type:'POST',
    data: JSON.stringify({'url' : urlVal}),
    url:'/v1/process',
    dataType : "json",
    contentType: "application/json",
    
    success:function(data) {
      
      var button = $("#submit_id");
  	  button.prop('disabled', false);
      
      var summaryTable = $("<table />");
      summaryTable[0].border = "1";
      
      for (var key in data) {
      
       if (key === "headingsCount") {
       		populateHeadingsTable(data[key]);
       } 
       
       else if (key === "links") {
       		populateReachabilityTable(data[key]);
       } 
       
       else {
	        row = $(summaryTable[0].insertRow(-1));
	        
	        var keyCell = $("<td />");
	        keyCell.text(key);
	        row.append(keyCell);
	        
	        var valueCell = $("<td />");
	        valueCell.text("" + data[key]);
	        row.append(valueCell);
        }
      }
      var dvTable = $("#div_summary_table");
      dvTable.html("");
      dvTable.append(summaryTable);
    },
    
    error: function(err) {
      var button = $("#submit_id");
  	  button.prop('disabled', false);
  	  
      var errorDiv = $("#div_error");
      errorDiv.text(err.responseText);
    }
  });
  
});

 var populateReachabilityTable = function(data) {
  	
  	      var reachabilityTable = $("<table />");
  	      reachabilityTable[0].border = "1";
  	      
  	      for (var index in data) {
	  	      row = $(reachabilityTable[0].insertRow(-1));
	  	      
		      var keyCell = $("<td />");
		      keyCell.text(data[index].url);
		      row.append(keyCell);
		      
		      var valueCell = $("<td />");
		      valueCell.text(data[index].reachable ? data[index].reachable : data[index].error);
		      row.append(valueCell);
	      }
	      
	      var dvTable = $("#div_reachability_table");
	      dvTable.html("");
	      dvTable.append(reachabilityTable);
 }
 
  var populateHeadingsTable = function(data) {
  	
  	      var headingsTable = $("<table />");
  	      headingsTable[0].border = "1";
  	      
  	      for (var key in data) {
	  	      row = $(headingsTable[0].insertRow(-1));
	  	      
		      var keyCell = $("<td />");
		      keyCell.text(key);
		      row.append(keyCell);
		      
		      var valueCell = $("<td />");
		      valueCell.text(data[key]);
		      row.append(valueCell);
	      }
	      
	      var dvTable = $("#div_headings_table");
	      dvTable.html("");
	      dvTable.append(headingsTable);
 }
 
 
</script>
</body>
</html>